html {
  font-size: 62.5%;
  /* browser default 16px  62.5 */
  box-sizing: border-box;
}

body {
  font-size: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  /* background-color: #f4f4f4!important; */
}

#root {
  height: 100%;
}

.full-width {
  width: 100%;
}

.mt-5 {
  margin-top: .5rem;
}

.link_cursor {
  cursor: pointer;
}

.link_cursor:hover {
  color: gold;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  /* min-height: 100vh; */
  height: 100%;
}

.header {
  grid-area: header;
  background-color: rgb(160, 78, 140);
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.brand a {
  color: whitesmoke;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a {
  color: whitesmoke;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 15px;
}

.header-links a:hover {
  color: gold;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: rgb(160, 78, 140);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: gold;
}

.count-item {
  padding: .2rem .5rem;
  background-color: darkorange;
  border-radius: 50%;
  margin-left: .1rem;
}

.content ul {
  padding-inline-start: 0px;
}

.error-message {
  color: red;
}

/* sidebar  */

.details-action {
  flex: 1 1 30rem;
}

.details-info ul, .details-action ul {
  list-style-type: none;
}

.details-info li, .details-action li {
  margin-bottom: 1rem;
}

.back-to-result {
  padding: 1rem;
  font-size: 1.5rem;
}

.details-action {
  border: 0.1rem solid rgb(224, 224, 224);
  border-radius: 0.5rem;
  background-color: whitesmoke;
  padding: 1rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.button:hover {
  border: .1rem #404040 solid;
  /* border:none; */
}

.button.primary {
  /* background-color: yellowgreen; */
  background-color: rgb(160, 78, 140);
  border-color: rgb(160, 78, 140);
  border-radius: 1px;
  color: whitesmoke;
  /* border: none; */
  border: .1rem rgb(160, 78, 140) solid;
  /* margin: .1rem; */
}

.button.primary:hover {
  color: gold;
}

.button.secondary {
  background-color: #caf706;
}

.text-center {
  text-align: center;
}

/*  form */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 1.5rem !important;
  border: 0.1rem #f0f0f0 solid;
  border-radius: .5rem;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.form-container li:last-child {
  font-size: 2rem;
}

.form-container li:last-child a:hover {
  color: goldenrod;
}

.form-container img {
  align-items: center;
  height: 10rem;
  width: 10rem;
  padding: .5rem;
  align-self: center;
}

label {
  font-size: 12px;
  padding: 5px;
}

input {
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  /* margin-top: 1rem; */
}

/* product */

.content-margained {
  margin: 1rem;
}

.table {
  width: 100%;
}

th {
  text-align: left;
}

tbody>tr:nth-child(odd) {
  background-color: gainsboro;
}

/* home screen */

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  height: 80vh;
}

/* phonebook screen */

.contact {
  display: flex;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1 1 30rem;
}

.contact-orders {
  flex: 3 1 60rem;
}

/* contact list  */

.contact-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1em;
}

.contacts {
  /* padding: 2rem; */
}

.contact-orders ul li {
  list-style: none;
}

.contact-orders li {
  margin: .5em;
}

.contactlist-action {
  display: flex;
  justify-content: flex-end;
}

table tr td {
  padding: 5px;
  font-size: 14px;
}

table tr th {
  padding: 5px;
  font-size: 14px;
}